
.change-width th[data-name="product_template_id"] {
  width: 75px !important;
}

.change-width th[data-name="forecasted_qty"] {
  width: 34px !important;
}

.change-width th[data-name="name"] {
  width: 140px !important;
}

.change-width th[data-name="product_uom"] {
  width: 35px !important;
}

.change-width th[data-name="x_studio_img"] {
  width: 10px !important;
}

.change-width th[data-name="route_id"] {
  width: 35px !important;
}

.change-width th[data-name="discount"] {
  width: 60px !important;
}

.change-width th[data-name="x_studio_field_idRhx"] {
  width: 15px !important;
}

.change-width th[data-name="po_line_ok"] {
  width: 35px !important;
}

.change-width th[data-name="product_uom_qty"] {
  width: 70px !important;
}

.change-width th[data-name="price_unit"] {
  width: 95px !important;
}

.change-width th[data-name="qty_delivered"] {
  width: 80px !important;
}

.change-width th[data-name="price_subtotal"] {
  width: 70px !important;
}